@font-face {
  font-display: swap;
  font-family: 'Borel';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Borel-Regular.woff2') format('woff2');
}

:root {
  --main-color: #74beef;
  --link-color: #8af;
  --title-color: #fff;
  --font-color: #5a5a5a;
  --tag-color: #bbb;
  --tag-inner-color: #fff;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/*ul {
 *  list-style: none;
 * }*/

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*
 */
html {
  font-size: 62.5%;
}

body {
  font-family: Avenir, Lato, Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Japanese font-family settings below */
  /*  font-family: Lato, Avenir, Helvetica, Arial, "Noto Sans JP", "Source Han JP", 源ノゴシック, YuGothic, "Yu Gothic", メイリオ, Meiryo, "ＭＳ ゴシック", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
  background-color: var(--main-color);
  min-height: 100vh;
  max-width: 705px;
  margin: 0 auto;
  font-size: 1.6em;
  font-weight: 400;
  color: var(--font-color);
  line-height: 1.6;
}

table {
  border-collapse: collapse;
}

th, td {
  border: thin solid #999;
  padding: 0.3em 0.4em;
  text-align: left;
}

/* Link */
a {
  color: var(--link-color);
  text-decoration: none;
}

/* Header */
header {
  padding: 6rem 0 5rem 0;
  color: var(--title-color);
}

header h1.title, figure.title-logo {
  text-align: center;
  margin: 6rem 0;
}

header h1.title {
  font-family: Borel;
  font-size: 3.5rem;
  font-weight: 700;
}

header h1.title a {
  color: var(--title-color);
}

@media screen and (max-width: 768px) {
  header {
    padding: 6rem 2rem 0rem 2rem;
  }

  header h1.title {
    margin: 6rem 0 5rem 0;
  }
}

/* Navbar */
nav.navbar {
  position: relative;
}

/* Desktop navbar */
nav.navbar {
  ul.navbar-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
  }

  li.navbar-item a {
    display: block;
    color: var(--title-color);
    font-weight: 700;
    text-decoration: none;
  }

  button.navbar-btn {
    display: none;
  }
}

/* Mobile navbar */
nav.navbar.mobile {

  button.navbar-btn {
    display: block;
    position: relative;
    text-align: center;
    color: var(--title-color);
    margin: 0 auto;
    background: none;
    border: 0;
    cursor: pointer;
  }

  button.navbar-btn span.arrow::before {
    content:"▼"
  }

  button.navbar-btn.active span.arrow::before {
    content:"▲"
  }

  ul.navbar-content {
    display: none;
    position: relative;
    justify-content: normal;
    z-index: 1;
    opacity: 0;
    transition: .6s;
    gap: 0;
    padding-bottom: 2rem;
  }

  ul.navbar-content.active {
    display: flex;
    margin-top: 0;
  }

  ul.navbar-content > li.navbar-item {
    width: calc(50% - 1rem);
    border-bottom: 1px solid var(--title-color);
    padding:  1.5rem 2rem 1rem 0.2rem;
  }

  li.navbar-item a {
    padding: 0;
  }

  li.navbar-item:nth-child(odd) {
    margin-right: 1rem;
  }

  li.navbar-item:nth-child(even) {
    margin-left: 1rem;
  }

}

/* Main content */

div.category-title {
  text-align: center;
}

div.category-title h2 {
  color: var(--title-color);
  font-size: 2.2rem;
}

div.category-title h2 svg {
  stroke: var(--title-color);
  width: 2.2rem;
  height: 2.2rem;
  vertical-align: text-bottom;
  margin-right: 0.2rem;
}

/*@media screen and (max-width: 768px) {
  div.category-title {
    border: 1px solid var(--title-color);
    margin: 2rem;
  }

  div.category-title h2.title {
    margin: 0.5rem;
  }
}*/

div.article {
  position: relative;
  background: white;
  padding: 3.2rem 3.2rem 3.5rem 3.2rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  div.article  {
    padding: 2rem 2rem 2rem 2rem;
    margin: 2rem 2rem 4rem 2rem;
  }
}

div.article h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.25;
}

div.article p {
  margin-bottom: 2.5rem;
}

div.article h1 {
  font-size: 2.5rem;
}

div.article h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 4.5rem;
  padding-bottom: 1rem;
}

div.article h2.page-title {
  font-size: 2.5rem;
  margin: 1rem 0;
  padding-bottom: 0;
  border:none;
}

div.article h2.border {
  border-bottom: 1px solid var(--link-color);
}

div.article p.page-date {
  margin: 0;
}

div.article h2.page-title a{
  color: #333;
}

div.article h3 {
  font-size: 1.7rem;

}

div.article h4 {
  font-size: 1.4rem;
}

div.article h5, h6 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem
}

div.article figure {
  margin: 0;
}

div.article img {
  max-width: 100%;
  max-height: 100%;
  margin: 1.5rem 0;
}

div.article.page img {
  margin: 2rem 0;
}

div.article ul {
  padding-left: 2.2rem;
  margin-bottom: 2rem;
}

div.content ul ul{
  padding-left: 2rem;
  margin-bottom: 0;
}

div.content li p {
  margin-bottom: 0;
}

div.content li a {
  font-weight: 700;
}

div.content hr {
  margin: 30px 60px;
  display: none;
}

@media (max-width: 600px) {
  div.article hr {
    margin: 30px 30px;
  }
}

/* Tags */
div.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

span.tag {
  background: var(--tag-color);
  border: 1px solid var(--tag-inner-color);
  border-radius: 1rem;
  margin-right: 0.5rem;
  padding: 0.1rem 0.5rem;
  color: var(--tag-inner-color);
}

span.tag svg {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  fill: var(--tag-inner-color);
}

span.tag a {
  color: inherit;
}

/* Cards on home */
div.article.card {
  padding: 3.2rem 3.2rem 3.5rem 3.2rem;
  margin-bottom: 7rem;
}

div.article.card:last-of-type {
  margin-bottom: 5rem;
}

div.article.card h2.page-title, div.article.card p.page-date {
  padding: 0;
}

div.article.card h2.page-title {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
}

div.article.card p.page-date {
  margin: 0;
}

div.article.card img {
  aspect-ratio: 7 / 5;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  div.article.card {
    padding: 1.2rem 2rem 2rem 2rem;
    margin-bottom: 3rem;
  }

  div.article.card:last-of-type {
    margin-bottom: 1.8rem;
  }

  div.article.card h2.page-title {
    font-size: 2rem;
    margin: 0
  }

  /* If card has no cover image, add margin on top of page title  */
  div.article.card h2.page-title:nth-child(2) {
    margin-top: 1rem;
  }

  div.article.card p.page-date {
    font-size: 1.5rem;
    margin: 0;
  }
}

div.article.card a {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-user-select: none;
}

/* Pagination */
ul.pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  list-style: none;
  padding: 0.5rem 0 3.5rem 0;
}

@media screen and (max-width: 768px) {
  ul.pagination {
    padding: 2rem 2.1rem;
  }
}

ul.pagination li {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

ul.pagination li a {
  color: var(--title-color);
}

ul.pagination li.pagination-prev {
  text-align: left;
}

ul.pagination li.pagination-pagenumber {
  color: #fff;
  text-align: center;
}

ul.pagination li.pagination-next {
  text-align: right;
}

/* Footer */
footer {
  padding-bottom: 2.7rem;
}

footer div.copyright {
  color: var(--title-color);
  text-align: center;
}

/* Social media links */
div.social-links ul {
  display: flex;
  flex-direction: row;
  padding: 0 0 1rem 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  list-style: none;
}

div.social-links ul li {
  flex-basis: 0;
  flex-shrink: 1;
  text-align: center;
  padding: 1em 2rem;
}

div.social-links a > img {
  width: 32px;
  height: 32px;
  max-width: inherit;
  margin-left: auto;
  margin-right: auto;
}

p.template-credit {
  margin-top: 1rem;
}

p.template-credit a {
  font-weight: 700;
  color: var(--title-color);
}
